doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous") 
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous")

    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous")

    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous") 
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer") 

  nav(class="navbar navbar-expand-lg bg-light" id="navbar")
    div(class="collapse navbar-collapse" id="navbarSupportedContent")
      a(class="navbar-brand" href="/~/index.php")
        img(id="rstmIcon" src="imgs/Rx Russel Street Medical.png" alt="Russel St Medical Icon by 'leinadalrus'" width="24" height="24")
        h6 Lucast

      ul(class="navbar-nav me-auto mb-2 mb-lg-0")
        li(class="nav-item")
          a(class="nav-link active" href="/~/pages/views/index.pug") Home
        li(class="nav-item")
          a(class="nav-link active" href="/~/pages/views/modelDashboard.pug") Dashboard 
        li(class="nav-item")
          a(class="nav-link active" href="/~/pages/views/markdownEditor.pug") Writer 
        li(class="nav-item")
          a(class="nav-link active" href="/~/pages/views/userProfile.pug") Profile 

  body 
