include include/header.pug
header
  title Dashboard | Lucast

body(class='container bg-light' id='dashboard-container')
  h1 My Dashboard
  p Welcome to your super lame dashboard!

  include:markdown-it ./public/resources/documents/baseModel.md

include include/footer.pug