footer#footer
  h6 Sitemap Listing
  ul(class="list-group-flush")
    li(class="list-group-item")
      a(class="list-group-item list-group-item-action" href="/~/pages/views/index.pug") Home
    li(class="list-group-item")
      a(class="list-group-item list-group-item-action" href="/~/pages/views/modelDashboard.pug") Dashboard 
    li(class="list-group-item")
      a(class="list-group-item list-group-item-action" href="/~/pages/views/markdownEditor.pug") Writer 
    li(class="list-group-item")
      a(class="list-group-item list-group-item-action" href="/~/pages/views/userProfile.pug") Profile 
  p Copyright (c) foobar
  p
    i Boy Bulbous Bemperor
  p
    i Leinad Alrus
  p
    i 2022